{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "population_calculator/css/style.css" %}">

    <title>population calculator</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
         <h1>Population calculator</h1>
         <p>this calculator will help you analze some basic calculation of estimted avrage of pople living in on</p>
    </div>

    {% if error_message%}
        <div class="alert alert-danger" role="alert">
            {{error_message}}
        </div>
    {% endif %}

    <div class="box">
            {% if result %}
                <div class="alert alert-success">
                    {{result}}
                </div>
            {% endif %}    
     
        <form action="" method="post">
            <div class="form-group">
                <label for="year">enter year:</label>
                <input type="number" class="form-control" id="year" name="year">
            </div>
            <div class="form-group">
                <button name="calculate", value="1" class="btn btn-primary form-control">calculate</button>
                {% csrf_token %}
            </div>
        </form>
    </div>
</body>
</html>